a{
  text-decoration: none;
}
p{
  text-align: justify;
}

pre {
  background-color: #272822;
  padding: 10px;
  overflow: auto;
}
pre code{
  color: #fff;
}
code{
  color: teal;
}

#content a{
  color : green;
}

.bk-pagination ul{
  overflow-x:hidden;
  white-space:nowrap;
  width: 100%;
  list-style-type: none;
  vertical-align: bottom;
}

.bk-pagination ul li {
  display: inline-block;
  font-size: large;
  padding-left: 8px;
}

.bk-pagination ul li.active {
  font-size: x-large;
}

.bk-pagination ul li.disabled {
  color: grey;
}

.bk-post-card {
  min-height: 400px;
  max-height: 400px;
}

.bk-post-card p{
  padding: 8px;
  font-size: small;
}

.bk-tags-list {
  font-size: 12px;
}

.bk-image-credits{
  color: grey;
  font-size: x-small;
}

.bk-social-share{
  font-size: 12px;
}

.bk-maincontent img{
  max-width: 100%;
}
