pre code {
  font-family: monospace;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

#bk-pagination ul{
  overflow-x:hidden;
  white-space:nowrap;
  width: 100%;
  list-style-type: none;
  vertical-align: bottom;
}

#bk-pagination ul li {
  display: inline-block;
  font-size: large;
  padding-left: 8px;
}
#bk-pagination ul li a{
  text-decoration: none;
}

#bk-pagination ul li.active {
  font-size: x-large;
}

#bk-pagination ul li.disabled {
  color: grey;
}
