{{ define "main" }}

 <section id="main">
   {{ if ne .Type "page"}}
   <span class="bk-meta"> {{ .Type | humanize | singularize }}  &middot; </span>
   <span class="bk-meta"> {{ .Date.Format "Jan 2, 2006" }} &middot; </span>
   <span class="bk-meta"> {{ .ReadingTime }}min read </span>
   {{ end }}
   <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
 </section>
<!-- <br/> <br/> -->

  {{ if ne .Type "page"}}
     {{partial "social-share" .}}
   <hr>
   {{ partial "prevnext" . }}
  {{ end }}


{{ end }}
