{{ define "main" }}

 <section id="main">
   {{ if ne .Type "page"}}
   <span style="color: grey;font-size: large;"> {{ .Type | humanize | singularize }}  &middot; </span>
   <span style="color: grey;font-size: large;"> {{ .Date.Format "Jan 2, 2006" }} &middot; </span>
   <span style="color: grey;font-size: large;"> {{ .ReadingTime }}min read </span>
   {{ end }}
   <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
 </section>
 <br/> <br/>

  {{ if ne .Type "page"}}
  <!-- {{partial "social-share" .}} -->
   <hr>
   {{ partial "prevnext" . }}
  {{ end }}


{{ end }}
