{{ define "main" }}
<main>
  <h2> {{.Page.Title}} </h2>
  <hr>
  <div class="w3-container" id="bk-posts-list">
    <div class="w3-row-padding">
      <!-- Ranges through content/posts/*.md -->
      {{ range (.Paginator 9).Pages }}
        <div class="w3-col l4 m6 w3-center">
        <a href="{{.Permalink}}" style="text-decoration: none;">
          <div class="w3-card-2" style="min-height: 400px; max-height: 400px;">
            <img src="{{ if .Params.image }}{{ .Params.image }} {{ else }} {{ $.Site.Params.author_image }} {{ end}}" style="width: 100%; height: 200px; object-fit: cover;">
            <div class="w3-content">
              <h3>{{ .Title }}</h3>
              <p> {{ .Params.description | safeHTML | truncate 200 }}  </p>
            </div>
        </div>
        </a>
        </div>
      {{ end }}
    </div>
  {{ partial "paginator" . }}
</main>
{{ end }}
