
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content="{{if .IsHome}} {{$.Site.Params.description}} {{ else }} {{ if .Params.description }} {{ .Params.description }} {{ else }} {{ .Summary }} {{ end }} {{ end }} "/>
  <meta name="copyright" content="{{$.Site.Params.copyright}}"/>
  <meta name="keywords" content="{{ .Params.keywords }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {{ partial "social-tags" .}}
  <title> {{ if .Title }} {{ .Title }} {{ end }} </title>
  <link rel="stylesheet" href="/css/w3.css">
  <link rel="stylesheet" href="/css/bkondapu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{ partial "gtm" .}}
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#008b7d"/>
</head>
