<div class="bk-cover">
  <div class="bk-description">
    <h1 id="title">{{ .Title }}</h1>
    <p> {{ if .Params.description }} {{ .Params.description }}
      {{else}}
      {{ .Summary | truncate 200 }}
      {{ end }} </p>    {{partial "list-tags" .}} <br/>
    <section class="bk-front-matter">
      <div style="width:10%">
        <img src="{{ $.Site.Params.author_image }}" alt="{{ $.Site.Params.author }}" style="width: 100% ">
      </div>
      <div>
        <a href="/about"> {{ $.Site.Params.author }} </a>  <br/>
        <span class="bk-meta"> {{ .Date.Format "Jan 2, 2006" }} </span> &middot;
        <span class="bk-meta"> {{ .ReadingTime }}min read </span> &#9734;
      </div>
    </section>
  </div>
  {{ if .Params.image }}
  <div class="bk-cover-image">
    <img src=" {{ .Params.image}} " alt="{{ .Params.imagealt }}" style=" max-width: 100%; max-height: 100%;" >
    <span class="bk-image-credits"> {{ .Params.imagecredits }} </span>
  </div>
  {{ end }}
</div>
