<div class="bk-cover">
  <div class="bk-cover-inner bk-cover-grid">
    <h1 class="bk-cover-title">{{ .Title }}</h1>
    <div class="bk-cover-left">
      {{ if .Params.description }}
        <p class="bk-cover-desc">{{ .Params.description }}</p>
      {{ else }}
        <p class="bk-cover-desc">{{ .Summary | truncate 200 }}</p>
      {{ end }}
      {{ partial "list-tags" . }}
      <div class="bk-cover-meta">
        <img class="bk-cover-author-img" src="{{ $.Site.Params.author_image }}" alt="{{ $.Site.Params.author }}">
        <div>
          <div class="bk-cover-author">
            <a href="/about">{{ $.Site.Params.author }}</a>
          </div>
          <div class="bk-meta">
            <span>{{ .Date.Format "Jan 2, 2006" }}</span>
            &middot;
            <span>{{ .ReadingTime }} min read</span>
          </div>
        </div>
      </div>
    </div>
    {{ if .Params.image }}
      <div class="bk-cover-image">
        <img src="{{ .Params.image }}" alt="{{ .Params.imagealt }}">
        {{ with .Params.imagecredits }}
          <span class="bk-image-credits">{{ . }}</span>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>