<div>
  <div>
    {{ with .PrevInSection }}
      <a class="previous" href="{{.Permalink}}"> {{if ne .Type "notes"}} {{if ne .Type "interactions"}} &#8810; {{.Title}} {{ else }} &#8810; previous {{end}}{{ else }} &#8810; previous  {{end}} </a>
    {{ end }}
  </div>
  <div>
    {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{if ne .Type "notes"}} {{if ne .Type "interactions"}} {{.Title}} &#8811; {{ else }} next &#8811; {{end}} {{else}} next &#8811; {{end}} </a>
    {{ end }}
  </div>
</div>
