{{ range where (.Paginator 8).Pages "Type" "not in" "pages" }}
      <div class="bk-note-card ">
        {{ if ne .Type "page"}}
        {{ if ne .Type "notes" }}
        {{ if ne .Type "interactions"}}
        <a href="{{.Permalink}}">
          <h2> {{ .Title }} </h2>
        </a>
        {{end}}
        {{ end }}
        {{ end }}
        <p> {{ .Content }} </p>

        {{ if ne .Type "page"}}
        <span class="bk-meta"> <i class="fa fa-tag" aria-hidden="true"></i> {{ .Type | humanize | singularize }} &middot; </span>
        <span class="bk-meta"> <i class="fa fa-calendar" aria-hidden="true"></i> {{ .Date.Format "Jan 2, 2006" }} &middot; </span>
        <span class="bk-meta"> <a href="{{.Permalink}}"> <i class="fa fa-chain"></i> Permalink </a> &middot; </span>
        <span class="bk-meta"> {{ .ReadingTime }}min read </span>
        {{end}}


      </div>
<hr>
{{ end }}
