<div class="bk-social-share">
    <details>
        <summary> <span class="pointer-link"><i class="fa fa-share"> Share </i></span></summary>
        <span class="w3-tag " style="background-color: #1DA1F2; ">
      <a target="_blank" href="https://www.twitter.com/share?url={{.Permalink}}" rel="noopener"> <i class="fa fa-twitter"></i> Tweet </a></span>
        <span class="w3-tag " style="background-color: #3B5998; ">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" rel="noopener"> <i class="fa fa-facebook"></i> Share </a></span>
        <span class="w3-tag " style="background-color: #0077B5; ">
      <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink}}&title={{.Title}}&summary={{.Summary}}&source=BargavKondapu" rel="noopener"> <i class="fa fa-linkedin"></i> Share </a></span>
    </details>
</div>
