<div class="bk-social-share">
  <details>
    <summary>
      <span class="pointer-link" aria-label="Share this post">
        <i class="fa fa-share"></i> Share
      </span>
    </summary>
    <nav class="bk-social-links" aria-label="Share on social media">
      <a target="_blank" href="https://www.twitter.com/share?url={{.Permalink}}" rel="noopener" aria-label="Share on Twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" rel="noopener" aria-label="Share on Facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink}}&title={{.Title}}&summary={{.Summary}}&source=BargavKondapu" rel="noopener" aria-label="Share on LinkedIn">
        <i class="fa fa-linkedin"></i>
      </a>
    </nav>
  </details>
</div>