<div class="bk-social-share">
  Share &#9758;
  <span class="w3-tag" style="background-color: #1DA1F2;">
    <a target="_blank" href="https://www.twitter.com/share?url={{.Permalink}}"> <i class="fa fa-twitter"></i> twitter </a></span>
  <span class="w3-tag" style="background-color: #3B5998;">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}"> <i class="fa fa-facebook"></i> facebook </a></span>
  <span class="w3-tag" style="background-color: #0077B5;">
    <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink}}&title={{.Title}}&summary={{.Summary}}&source=BargavKondapu"> <i class="fa fa-linkedin"></i> linkedin </a></span>

</div>
